.card-header {
    background-color: #0e8396;
}

.form-group {
    border-bottom: 2px solid #ced4d9;

    .form-input {
        display: block;
        width: 100%;
        border: none;
        outline: none;

        &:disabled {
            background: none;
        }
    }

    .currency-code {
        margin-right: 5px;
    }
}