.header {
    padding: 24px 90px;
    border-bottom: 3px solid #ed6728;
    background-color: #ffffff;
    display: flex;

    &__logo {
        max-width: 448px;
        width: 100%;
    }
}

@media only screen and (min-width: 767px) {
    .header__logo {
        width: 50%;
    }
}