<!-- <div class="container transactions">
    <div class="transactions__header row">
        <span>icon</span>
        <span>Recent Transactions</span>
    </div>
    <div class="row transactions__filter">
        <div class="transactions__filter-search col-12 col-md-6"></div>
        <div class="transactions__filter-sort col-12 col-md-6">
            <span>sort by</span>
            <span>Date</span>
            <span>Benificiary</span>
            <span>amount</span>
        </div>
    </div>
    <app-transaction *ngFor="let transaction of transactions" [transaction]=transaction></app-transaction>
</div> -->
<div class="card">
    <div class="card-header bg-info text-white">
        <img src="./assets/icons/briefcase.png">
        <span>Recent Transactions</span>
    </div>
    <div class="card-body">
        <div class="container-fluid transactions">
            <div class="row transactions__filter">
                <div class="transactions__filter-search col-12 col-md-6">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="filterValue" name="filterValue">
                        </div>
                    </form>
                </div>
                <div class="transactions__filter-sort col-12 col-md-6">
                    <span>sort by</span>
                    <!-- <div class="btn-group"> -->
                    <span [ngClass]="sortDirection" (click)="sort('date', 'date')">Date</span>
                    <span [ngClass]="sortDirection" (click)="sort('merchant', 'string')">Benificiary</span>
                    <span [ngClass]="sortDirection" (click)="sort('amount', 'number')">Amount</span>
                    <!-- </div> -->
                </div>
            </div>
            <app-transaction *ngFor="let transaction of (transactions | filter:filterValue | sortBy:sortDirection:sortColumn:type)" [transaction]=transaction></app-transaction>
        </div>
    </div>
</div>